---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/home/Header.astro";
import ProjectHeader from "../../components/project/ProjectHeader.astro";
import ProjectInfoCard from "../../components/project/ProjectInfoBox.astro";
import ProjectFeatures from "../../components/project/ProjectFeatures.astro";
import ProjectGallery from "../../components/project/ProjectGallery.astro";
import { projects } from "../../data/projects";

export function getStaticPaths() {
  return projects.map((project) => ({
    params: { id: project.id.toString() },
    props: { project },
  }));
}

const { project } = Astro.props;

if (!project) {
  return Astro.redirect("/404");
}
---

<Layout
  title={`${project.title} | Agustín Bernardo Peredo Rodriguez`}
  description={project.description}
>
  <Header />
  <main class="pt-24">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 space-y-16">
      <div>
        <a
          href="/#projects"
          class="inline-flex items-center gap-2 text-primary-400 hover:text-primary-300 transition-colors mb-8"
        >
          <span>← Volver a proyectos</span>
        </a>

        <ProjectHeader project={project} />
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-12">
          <div class="md:col-span-2">
            <div class="relative rounded-xl overflow-hidden aspect-video group">
              <iframe
                src={project.videoUrl}
                title="Video del proyecto"
                class="w-full h-full"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <ProjectInfoCard project={project} />
        </div>
      </div>

      <div>
        <h2 class="text-2xl font-bold mb-6">Acerca del proyecto</h2>
        <div class="prose prose-lg prose-invert max-w-none">
          <p class="text-zinc-300">{project.longDescription}</p>
        </div>
      </div>

      <ProjectFeatures features={project.features} />

      <ProjectGallery images={project.gallery} title={project.title} />
    </div>
  </main>
</Layout>
